/* -------------- experiences page -------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

.exp-page{
    background-image: linear-gradient(rgba(0, 0, 0),rgba(0, 0, 0, 0.527),rgba(0,0,0)) , url(/images/back1.jpg);
    background-size: cover;
    min-height: 200vh;
    height: 100%;
}

.sub-subhead{
    font-weight: 300;
    margin-left: 20%;
    margin-top: 5%;
}

.exp-contain, .exp-contain-wex{
    margin-top: 3%;
    margin-left: 20%;
}

.exp-sec{
    margin: 0 2%;
}

.exp-title{
    font-weight: 600;
    font-size: 1.6em;
}

.exp-date{
    font-size: 1em;
    color: #ffbf69;
}

.exp-position{
    font-size: 20px;
    color: #ffbf69;
    padding-bottom: 0 10px;
}

.ps-btn{
    float: right;
    margin-right: 5%;
}

#overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 20;
    overflow-y: scroll;
    font-family: 'Nunito', sans-serif;
}

.close-overlay{
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-overlay:hover > .bi-x-circle{
    color: #ffbf69;
}

.personal-statement{
    font-size: 0.7em;
    margin: 5% 20%;
}

.ps-head{
    font-weight: 300;
    margin: 0 20%;
    margin-top: 5%;
    padding-bottom: 2%;
    border-bottom: 1px solid #ffbf69;
}

.hide{
    display: none;
}
/* ---------------------------- */