
/* -------------- about page -------------- */

.about-page{
    background-color: #000;
    background-image: linear-gradient(rgba(0,0,0.5), rgb(0,0,0,0.6),rgba(0,0,0)), url(/images/clouds.avif);
    background-size:cover;
    height: 85vh;
}

.test-bg{
    background-color: yellow;
}

.about-sec{
    margin-top: 5%;
}

.about-sub{
    color: #8d99ae;
    font-weight: 300;
    /* text-align: center; */
}

.profile-image{
    width: 20rem; height: 20rem;
    background-image: url(/images/profilepic.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 10px solid #8d99ae;
    margin: 0;


}

.detail {
    color: #ffbf69;
    font-weight: 700;
    /* padding: 10px; */
}


.ab-subhead{
    color: #d9d9d9;
    text-align: center;
    font-size: 20px;
    padding: 2%;
    font-weight: 300;
}
.star-img{
    width: 5em;
    float: right;
    margin-right: 15%;
}

.rating{
    font-size: 20px;
}

.quick-btn{
    width: 100%;
}

.quick-link{
    position: relative;
}

.rating{
    text-align: left;
    margin-left: 10%;
    transition: all 200ms ease-in;
}

.rating:hover{
    padding: 3px;
    font-size: 23px;
}

.pic-contain{
    padding: auto;
}