@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    /* font-family: 'Nunito', sans-serif; */
}

.dropdown{
    position: fixed;
}



body{
    background-color: black;
}

.page{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

.title-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(/images/back1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    color: white;
    font-size: 40px;
}

#title-description{
    font-size: 16px;
    color: white;
    margin-top: 1%;
}



.hr-line{
    width: 40%;
    border: 2px solid #ffbf69;

}

 .page-header-ab{
    text-align: center;
    font-size: 32px;
}


@media screen and (min-width: 900px) {
    #title{
        color: white;
        font-size: 100px;
    }
    
    #title-description{
        font-size: 40px;
    }

    .page-header, .page-header-ab{
        font-weight: 300;
        font-size: 60px;
        text-align: center;
    }

    .page-header-ab{
        border-bottom: 3px solid #ffbf69;
        margin: 0px 15%;
    }

    .profile-image{
        border-radius: 50%;
        width: 400px; height: 400px;
    }

    .page{
        width: 100vw;
        min-height: 100vh;
        height: 100%;
    }

    

}

/* small screen */

@media screen and (max-width: 900px) {
    .exp-date{
        display: none;
    }
    .exp-description{
        font-size: 12px;
    }
    .profile-image{
        margin: 0 auto;
        border: 1px solid #8d99ae ;
    }

    .about-page{
        height: 100%;
    }

    .about-sec{
        text-align: center;
    }

    .details-container > .detail{
        font-weight: 300;
    }

    .detail{
        padding-left: 2px;
        padding-right: 2px;
    }

    /* .about-page{
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(/images/clouds.avif);
    } */





}

